#navbar-component {
    position: fixed;
    z-index: 10000;
}

#navbar-container {
    display: inline-block;
    position: fixed;

    background: #0A111D;
    height: 4.5rem;
    width: 100%;
    text-align: center;

    overflow: auto;

    z-index: 10000;
}

#navbar-container:hover {
    box-shadow: 0 10px 10px -10px black;
}

:focus {
    outline: 0;
}

#name-title {
    color: #fff;
    font-family: "Open Sans", "sans-serif";
    text-decoration: none;

    font-size: 0.75rem;
    font-weight: 100;
}

#title-panel {
    float: left;

    height: 100%;
    width: -moz-calc(100% - 12rem);
    width: -webkit-calc(100% - 12rem);
    width: calc(100% - 12rem);

    padding-left: 6rem;
}

#menu-panel {
    float: right;
    display: flex;
    align-items: center;
    padding: 0;

    color: #fff;

    height: 100%;
    width: 6rem;
}

#menu-symbol {
    margin-left: 2rem;
    font-size: 1.5rem;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#menu-container {
    position: fixed;
    background: #0A111D;
    border-radius: 0.2rem;

    height: 4rem;
    width: 15rem;
    z-index: 1000;

    padding: 0;
    margin-left: calc(100% - 15rem);

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#menu-list {
    position: fixed;

    width: 15rem;
    margin-left: calc(100% - 15rem);
    color: #fff;
    z-index: 5000;

    opacity: 1;
}

.list-container {
    list-style-type: none;
    position: absolute;
}

.list-link {
    list-style-type: none;
    position: absolute;

    color: #fff;
    font-size: 1.2rem;
    font-family: "Open Sans", "sans-serif";
    text-align: center;

    width: 15rem;
    margin-left: calc(100% - 20rem);

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.list-link:hover {
    box-shadow: 0 0 3px #00DAFF;
}

.list-link-span {
    display: block;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.no-link {
    color: #fff;
    text-decoration: none;
}



@-webkit-keyframes titleClick {
    0% {
        color: #FFF;
        font-size: 0.75rem;
    }
    50% {
        color: #00DAFF;
        font-size: 0.6rem;
    }
    100% {
        color: #FFF;
        font-size: 0.75rem;
    }
}
@keyframes titleClick {
    0% {
        color: #FFF;
        font-size: 0.75rem;
    }
    50% {
        color: #00DAFF;
        font-size: 0.6rem;
    }
    100% {
        color: #FFF;
        font-size: 0.75rem;
    }
}
.animate-title-click {
    animation: titleClick 0.1s linear forwards;
}

@-webkit-keyframes symbolClick {
    0% {
        color: #FFF;
        font-size: 1.5rem;
    }
    50% {
        color: #00DAFF;
        font-size: 0.5rem;
    }
    100% {
        color: #FFF;
        font-size: 1.5rem;
    }
}
@keyframes symbolClick {
    0% {
        color: #FFF;
        font-size: 1.5rem;
    }
    50% {
        color: #00DAFF;
        font-size: 0.5rem;
    }
    100% {
        color: #FFF;
        font-size: 1.5rem;
    }
}
.animate-symbol-click {
    animation: symbolClick 0.1s linear forwards;
}


@-webkit-keyframes lightNavBar {
    0% {
        box-shadow: 0 0px 0px 0px #00DAFF;
    }
    50% {
        box-shadow: 0 10px 10px -10px #00DAFF;
    }
    100% {
        box-shadow: 0 0px 0px 0px #00DAFF;
    }
}
@keyframes lightNavBar {
    0% {
        box-shadow: 0 0px 0px 0px #00DAFF;
    }
    50% {
        box-shadow: 0 10px 10px -10px #00DAFF;
    }
    100% {
        box-shadow: 0 0px 0px 0px #00DAFF;
    }
}
.light-navbar {
    animation-name: lightNavBar;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}



@-webkit-keyframes menuItemClick {
    0% {
        color: #FFF;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    50% {
        color: #00DAFF;
        font-size: 0.9rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    100% {
        color: #FFF;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
@keyframes menuItemClick {
    0% {
        color: #FFF;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    50% {
        color: #00DAFF;
        font-size: 0.9rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    100% {
        color: #FFF;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
.animate-menu-item-click {
    animation-name: menuItemClick;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}